@import '../../utils/colors.scss';

.match-wrapper {
  margin-bottom: 0;
  position: relative;
  padding-left: 1rem;
}

.match-wrapper:hover {
  border-left: 3px solid $owl-orange;
}

.match-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.match-title-text {
  flex: 1;
  font-size: 1.5rem;
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-game {
  flex: 1;
  margin-right: 1em;
}

.video-link-image {
  position: relative;
  width: 100%;
}

.single-game-name {
  font-size: 1rem;
  text-align: center;
}

.watch-later-button {
  color: $owl-black;
  cursor: pointer;
}

.watch-later-button:hover {
  color: $owl-orange;
}

.watch-later-button.active-button {
  color: $owl-orange;
}

.match-future {
  font-size: 2rem;
  font-familY: "Big Noodle", sans-serif;
  color: #bbb;
  padding-right: 1rem;
}